<div class="flex flex-col">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="mb-6 flex flex-col gap-y-4 sm:block">
    <%= link_to 'Back to podcast', podcast_path(@podcast_episode.podcast), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium text-center" %>
  </div>

  <div class="mb-6">
    <%= cover_art_header(cover_art_url: @podcast_episode.podcast.cover_art_url, title: @podcast_episode.title) do %>
      Aired <time datetime="<%= @podcast_episode.aired_at.iso8601 %>"><%= l @podcast_episode.aired_at, format: :short %></time>
    <% end %>
  </div>

  <audio controls class="w-full rounded shadow mb-6">
    <source src="<%= @podcast_episode.audio_file_url %>" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

  <div class="mb-6">
    <%= simple_format(@podcast_episode.show_notes) %>
  </div>
</div>
